// Imports
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:400,400i,700");

// Global variables
$light-grey: #d7d5d8;
$middle-grey: #acacac;
$middle-black: #111;
$error-red: #d65353;

// Main styling
:root {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: $middle-black;
}

body {
	background-color: $light-grey;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aeaeae' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
	font-family: "Roboto Mono", monospace;
	font-size: 3rem;
	line-height: 1.1;
}

h2 {
	font-family: "Roboto Mono", monospace;
	font-size: 2.25rem;
	line-height: 1.1;
}

h3 {
	font-family: "Roboto Mono", monospace;
	font-size: 1.5rem;
}

h4 {
	font-family: "Roboto Mono", monospace;
	font-size: 1.25rem;
}

.italic {
	font-family: "Roboto Mono", monospace;
	font-style: italic;
}

.light {
	color: lighten($middle-black, 50%);
}

.bold {
	font-weight: 700;
}

p {
	line-height: 1.3;
}

a {
	text-decoration: underline;
	text-decoration-color: $middle-black;
	color: $middle-black;
	align-self: flex-start;

	&:hover {
		background-color: $middle-black;
		color: #fff;
		font-style: italic;
	}
}

nav {
	display: flex;
	flex-direction: column;

	h1 {
		display: inline-flex;
		background-color: $middle-black;
		color: #fff;
		flex-grow: 0;
		align-self: flex-start;
		margin-bottom: 0.25rem;
	}

	.logo {
		color: #fff;
	}
}

input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $middle-black;
}

section.header,
section.main-content {
	padding: 2rem;
}

section.main-content {
	padding-top: 1rem;
}

.links {
	margin-top: 1.5rem;

	a:first-child {
		margin-right: 0.5rem;
	}
}

footer {
	position: fixed;
	bottom: 0;
	background-color: $middle-black;
	width: 100%;
	text-align: center;
	color: #fff;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;

	span {
		color: $light-grey;
	}

	a {
		color: #fff;
	}
}

// FORM styling
section.form form {
	display: flex;
	flex-direction: column;
	max-width: 50%;

	label {
		margin-top: 2rem;
	}

	input {
		margin-top: 0.5rem;
		background-color: none;
		font-size: 3rem;
		font-weight: bold;
		outline: none;

		&::placeholder {
			color: $middle-grey;
			font-weight: 400;
		}
	}

	.listing_body {
		display: flex;
		flex-direction: column;

		label {
			margin-bottom: 0.5rem;
		}

		textarea {
			background-color: transparent;
			font-size: 1.5rem;
			height: 10rem;
		}
	}

	.hint {
		margin-top: 0.5rem;
		font-style: italic;
	}

	.btn-primary {
		outline: none;
		cursor: pointer;
		margin-top: 2rem;
		align-self: flex-start;
		text-decoration: underline;
		border-bottom: none;
		font-weight: 500;
		font-size: 1.25rem;
		text-align: left;

		&:hover {
			font-style: italic;
			color: #fff;
			background-color: $middle-black;
		}
	}

	.errors {
		margin-bottom: 1rem;
		font-weight: 700;
		color: $error-red;
	}
}

// Categories index
.categories {
	margin-top: 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-auto-rows: 350px;
}

.category {
	justify-self: start;

	.jobbbo-collection {
		margin-top: 1rem;
	}

	li {
		margin-top: 0;
		list-style: none;
		line-height: 1.3;
	}

	li:before {
		content: "#";
		padding-right: 8px;
	}
}

.category h2 {
	background-color: $middle-black;
	color: #fff;
	margin-bottom: 0.5rem;
}

// Category show
.category-show {
	h2 {
		margin-bottom: 0.5rem;
	}
}

.listings {
	margin-top: 2rem;

	li {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}
}

// Listings
.listing-individual {
	h2 {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	p {
		max-width: 50%;
	}

	span.created-at {
		display: inline-block;
		margin-bottom: 2rem;
	}
}

// MOBILE stylesheets
@media (max-width: 1000px) {
	h2 {
		font-size: 1.75rem;
	}

	section.main-content {
		padding-bottom: 10rem;
	}

	section.form form {
		max-width: 100%;
	}

	.listing-individual {
		p {
			width: 100%;
		}
	}

	footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding-left: 0.5rem;
		padding-right: 0.5rem;

		p {
			text-align: center;
		}

		a {
			padding-top: 0.5rem;
			width: 100%;
		}
	}
}
