<% content_for :page_title, @category.title %>

<div class="category-show">
  <h2><%= @category.title %> jobs</h2>
  <%= link_to "Add new listing", new_category_listing_path(@category), class: "btn-primary" %>

  <ul class="listings">
    <% @category.listings.order(created_at: :desc).each do |listing| %>
    <li class="listing">
      *<%= link_to listing.title, category_listing_path(@category, listing) %> <span class="light italic">• Posted <%= time_ago_in_words listing.created_at %> ago</span>
    </li>
    <% end %>
  </ul>
</div>
